<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Acceuil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Informations personnelles</ion-card-title>
    </ion-card-header>

    <ion-card-content>

        <ion-item color="tertiary">
          <ion-label>Prenom : {{ conctact.prenom }} </ion-label>
        </ion-item>
        <ion-item color="tertiary">
          <ion-label>Nom : {{ conctact.nom }} </ion-label>
        </ion-item>
        <ion-item color="tertiary">
          <ion-label>Numero : {{ conctact.number }} </ion-label>
        </ion-item>
        <ion-item class="lojo" class="lojo">
          <img src="{{ conctact.lojo }}" alt="lojo">
        </ion-item>
      
    </ion-card-content>
  </ion-card>
  <ion-card color="medium" >
    <ion-card-header>
      <ion-card-title>bienvenu sur MyIuc </ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-card-subtitle>sur iuc lobessou</ion-card-subtitle>
      <ion-item>
        <ion-label>le pole dexcellence en afrique</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>le pole dexcellence en afrique</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>le pole dexcellence en afrique</ion-label>
      </ion-item>

      <ion-card-subtitle>sur iuc akwa</ion-card-subtitle>
      <ion-item>
        <ion-label>le pole dexcellence en afrique</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>le pole dexcellence dans le monde</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>le pole dexcellence pour la vie</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
